<script src="../checkCountry.js" ></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <script>
            var countryPrefix = localStorage.getItem('urlPrefix');
            var member = JSON.parse(sessionStorage.getItem('memberForgetPassword'));
            console.log(member);
            document.addEventListener('DOMContentLoaded', function(){
                if(member.securityQuestion == null || member.securityQuestion == '') {
                    document.getElementById("securityQnDiv").setAttribute('style', 'display:none;');
                    document.getElementById("cannotResetDiv").setAttribute('style', 'display:block;');
                }
                else {
                    if (member.securityQuestion == 1) {
                        document.getElementById('securityQuestion').value = "What is your mother's maiden name?";
                    } else if (member.securityQuestion == 2) {
                        document.getElementById('securityQuestion').value = "What is your first pet's name?";
                    } else if (member.securityQuestion == 3) {
                        document.getElementById('securityQuestion').value = "What is your favourite animal?";
                    }
                }
            }, false);

            function resetPassword() {
                var url = window.location.host + window.location.pathname;
                url = url.substr(0, url.lastIndexOf('/'));
                if(document.getElementById("resetPassForm").checkValidity()) {
                    var memAnswer = document.getElementById('securityAnswer').value;
                    if(memAnswer == member.securityAnswer) {
                        var data = {
                            email: member.email,
                            url: url
                        };
                        fetch(new Request('/api/sendPasswordReset',
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })).then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            if(data.success) {
                                var url = window.location.origin + window.location.pathname;
                                window.location.href = url + '?goodMsg=Password reset code sent. Check your email for the code to be filled in below.';
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                    else {
                        var url = window.location.origin + window.location.pathname;
                        window.location.href = url + '?errMsg=Security answer is not correct.';
                    }
                }
            }
        </script>
        <script src="menu2.js"></script>
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Login / Register</h2>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <script src="/displayMessageLong.js"></script>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row featured-boxes login">
                            <div class="col-md-12">
                                <div class="featured-box featured-box-secundary default info-content">
                                    <div class="box-content">
                                        <h4>Forgot Password</h4>
                                        <div id="securityQnDiv">
                                            <h5>Security Challenge Question</h5>
                                            <form id="resetPassForm" onsubmit="return false;" autocomplete="off">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Security Question</label>
                                                            <input type="text" id="securityQuestion" class="form-control input-lg" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Security Answer</label>
                                                            <input type="text" id="securityAnswer" class="form-control input-lg" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input onclick="resetPassword()" type="submit" value="Submit" class="btn btn-primary pull-right push-bottom">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="cannotResetDiv" style="display:none;">
                                            <p>This account password cannot be reset online. Please contact support for assistance.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../footer.js"></script>
    </body>
</html>