<script src="../checkCountry.js" ></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <script>
            var countryPrefix = localStorage.getItem('urlPrefix');
            function processEmail() {
                var email = document.getElementById('email').value;
                if(document.getElementById("emailForm").checkValidity()) {
                    fetch(new Request('/api/getMember?email=' + email,
                    {
                        method: 'GET'
                    })).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        if(data == null || data == '') {
                            var url = window.location.origin + window.location.pathname;
                            window.location.href = url + '?errMsg=Account does not exist.';
                        }
                        else {
                            sessionStorage.setItem('memberForgetPassword', JSON.stringify(data));
                            window.location.href = '/B/' + countryPrefix + '/forgotPasswordSecurity.html';
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        </script>
        <script src="menu2.js"></script>
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Login / Register</h2>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <script src="/displayMessageLong.js"></script>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row featured-boxes login">
                            <div class="col-md-12">
                                <div class="featured-box featured-box-secundary default info-content">
                                    <div class="box-content">
                                        <h4>Forgot Password</h4>
                                        <form onsubmit="return false;" id="emailForm">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Enter your email</label>
                                                        <input type="email" id="email" class="form-control input-lg" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input onclick="processEmail()" type="submit" value="Submit" class="btn btn-primary pull-right push-bottom">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../footer.js"></script>
    </body>
</html>
