<html lang="en">
    <script src="../header2.js"></script>
    <body>
        <div id="wrapper">
            <script src="../menu1.js"></script>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Item Management</h1>
                        </div>
                    </div>
                    <div class="row featured-boxes">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="featured-box featured-box-primary">
                                        <div class="box-content">
                                            <a href="rawMaterialManagement.html"><i class="icon-featured icon icon-align-center"> </i>
                                                <h4>Raw Material Management</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="featured-box featured-box-secundary">
                                        <div class="box-content">
                                            <a href="furnitureManagement.html"><i class="icon-featured icon icon-archive"> </i>
                                                <h4>Furniture Management</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="featured-box featured-box-tertiary">
                                        <div class="box-content">
                                            <a href="retailProductManagement.html"><i class="icon-featured icon icon-coffee"> </i>
                                                <h4>Retail Product Management</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="featured-box featured-box-sixenary">
                                        <div class="box-content">
                                            <a href="countryItemPricingManagement.html"><i class="icon-featured icon icon-dollar"> </i>
                                                <h4>Item Pricing Management</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
