<html lang="en">
    <script src="../header2.js"></script>
    <body>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                var today = new Date().toISOString().split('T')[0];
                document.getElementById("expectedDate").setAttribute('min', today);

                fetch(new Request('/api/getSuppliers',
                {
                    method: 'GET',
                    headers: {
                        Authorization: 'Bearer ' + authToken
                    }
                })).then(function (response) {
                    return response.json();
                }).then(function (result) {
                    var htmlTxt = '';
                    for(i = 0; i < result.length; i++) {
                        htmlTxt += '<option value="' + result[i].id + '">' + result[i].supplierName + '</option>';
                    }
                    document.getElementById('supplierSelect').innerHTML = htmlTxt;
                }).catch(function (error) {
                    console.log(error);
                });

                fetch(new Request('/api/getWarehouses',
                {
                    method: 'GET',
                    headers: {
                        Authorization: 'Bearer ' + authToken
                    }
                })).then(function (response) {
                    return response.json();
                }).then(function (result) {
                    var htmlTxt = '';
                    for(i = 0; i < result.length; i++) {
                        htmlTxt += '<option value="' + result[i].id + '">' + result[i].warehouseName + '</option>';
                    }
                    document.getElementById('warehouseSelect').innerHTML = htmlTxt;
                }).catch(function (error) {
                    console.log(error);
                });
            }, false);

            function add() {
                var staff = JSON.parse(sessionStorage.getItem('staff'));
                if (document.getElementById("addForm").checkValidity()) {
                    var addData = {
                        submittedBy: staff.name,
                        supplier: document.getElementById("supplierSelect").value,
                        warehouse: document.getElementById("warehouseSelect").value,
                        expectedReceiveDate: document.getElementById("expectedDate").value
                    };
                    fetch(new Request('/api/addPurchaseOrder',
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            Authorization: 'Bearer ' + authToken
                        },
                        body: JSON.stringify(addData)
                    })).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        if(data.success) {
                            window.location.href = '/A3/purchaseOrderManagement_Update.html?id=' + data.id;
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        </script>
        <div id="wrapper">
            <script src="../menu1.js"></script>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Create Purchase Order
                            </h1>
                            <ol class="breadcrumb">
                                <li>
                                    <i class="icon icon-exchange"></i> <a href="purchaseOrderManagement.html">Purchase Order Management</a>
                                </li>
                                <li class="active">
                                    <i class="icon icon-edit"></i> Add Purchase Order
                                </li>
                            </ol>
                        </div>
                    </div>
                    <script src="/displayMessage.js"></script>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> Purchase Order</h3>
                                </div>
                                <div class="panel-body">
                                    <form role="form" id="addForm" onsubmit="return false;">
                                        <div class="form-group">
                                            <label>Supplier</label>
                                            <select class="form-control" name="supplier" required="true" id="supplierSelect"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Destination</label>
                                            <select class="form-control" name="destination" required="true" id="warehouseSelect"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Expected Receiving Date:</label>
                                            <input class="form-control" id="expectedDate" type="date" required="true"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Create Purchase Order" class="btn btn-lg btn-primary btn-block" onclick="add()">
                                        </div>  
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
